<div id="body">
<h1>New User</h1>
<<<<<<< HEAD

<%= form_for @user do |f| %>
=======
<div>
<%=form_for @user do |f| %>
>>>>>>> 995c855f45d7794ca939443ad55a852951d73fb4
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  
  <%= f.submit %>

<% end %>
<<<<<<< HEAD
</div>
=======
  </div>
>>>>>>> 995c855f45d7794ca939443ad55a852951d73fb4
