<div class="panel">

	<h1>Show other user's post</h1>



	<%= form_for [@post, @comment], url: post_comments_path(@post) do |f| %>
		<fieldset>
			<legend><%= @post.topic  %> </legend>
			 <label>
			 	by <%= @post.user.username %>
			</label>


		<%= f.text_field :text_comment, placeholder: "Add Comment" %>
	
	   <%= f.submit "submit" %>
		</fieldset>
	   
	<% end %>

	<h3> Comments </h3>
	<ul>
		<% @comments.each do |c|%>
			<li><%=c.text_comment%></li>	
			by <%= c.user%><br>
			<%# if(@comment.user_id == @current_user.id) %>
				<%#= link_to 'Delete', posts_path(comment),{:method => :delete, confirm: "Are you sure you want to delete this comment?"} %>
			<%#end %>
		<% end %>
	</ul>

</div>
