<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= content_for?(:title) ? yield(:title) : "MusicOverflow" %></title>


<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>

</head>


<body>
<div ng-app="post-app" class="container">
  <div ng-controller="ResourceCtrl">

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#">Notifications</a></li>
      <li><%= link_to "Home", posts_path %></li>
    
      <li><%= link_to "New String", new_post_path %></li> 
      <li><%= link_to "Sign in"%></li>
         <!-- <li>
            <a href="#" data-reveal-id="myModal3">New String</a>
              <div id="myModal3" class="reveal-modal" data-reveal>
              <%#= form_for @post do |f| %>
                  <div class="form_for">
                  <div class="small form" id="form_topic">
                  <%#= f.text_field :topic, placeholder: "String", class: "form-control" %>
                  </div>
                  <%#= f.submit %> <br/>
                  <%#= link_to 'Cancel', posts_path %>
                <#%end %>
                <a class="close-reveal-modal">&#215;</a>
              </div>
                </li> 
            <#% end %> -->

          <!-- <a href="#" data-reveal-id="myModal1">New String</a>
            <div id="myModal1" class="reveal-modal" data-reveal>
              <h3>String:</h3>
                 <form ng-submit="saveResource();" class="form-group">
                  <label for="topic">String:</label>
                     <input ng-model="newResource.topic" type="text" name="topic" class="form-control" placeholder="Topic">
                              
                       <br>
                        <input type="submit" value="Add New Resource!" class="btn btn-primary">
                        </form>
            </div> -->
            <a class="close-reveal-modal"></a>

       <!-- ******* -->
      <!-- <li class="has-dropdown">
        <a href="#">New String</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li> -->
      <!-- ***** -->
    </ul>   
  </section>
</nav>


<%= javascript_include_tag "application" %>
<%= yield %>


<!--<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
// initialize client with app credentials
SC.initialize({
  client_id: 'client_id',
  redirect_uri: 'REDIRECT_URL'
});

// initiate auth popup
SC.connect(function() {
  SC.get('/me', function(me) { 
    alert('Hello, ' + me.username); 
  });
});
</script> -->

</body>
</html>
