<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

<title><%= content_for?(:title) ? yield(:title) : "MusicOverflow" %></title>


<%#= stylesheet_link_tag 'http://soundcloudfront.com/stylesheets/style.css', 'application', 'soundcloud' %>
<%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.5.min', 'connect', 'application', 'vendor/modernizr' %>
<%= csrf_meta_tags %>

 <script src="http://connect.soundcloud.com/sdk.js"></script>
 <script src="application.js"></script>

<!-- In order to access the JavaScript object which provides the SoundCloud Widget API, add this script to your html page. -->
<script src="/assets/sc_api_player.js"></script>
  

</head>

  

<body>
  <div id="player"></div>
<!-- 
<div ng-app="post-app" class="container">
  <div ng-controller="ResourceCtrl"> -->
<div class="fixed">
<nav class="top-bar" data-topbar data-options>
  <ul class="title-area">
    
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
 

  <section class="top-bar-section">
    <!-- Left Nav Section -->
   
      <ul class="left">
      <% if !current_user %>
       <li><a class="navbar-brand" href="#">MusicOverflow</a></li>
      <% else %>
       <li><a class="navbar-brand" href="#"> <%= link_to current_user.username, users_path(filteruser: 's') %></a></li>
      <% end %>


      
      <% if !current_user %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Sign In", new_sessions_path %></li>
        <% else %>
          <li><%= link_to "Sign Out", sessions_path, :method => :delete %></li>
        <% end %> 
     
      
      </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to "Random Stream", sounds_path %></a></li>
      <li><%= link_to "Home", posts_path %></li>
    
      <li><%= link_to "New String", new_post_path %></li> 
      
         <!-- <li>
            <a href="#" data-reveal-id="myModal3">New String</a>
              <div id="myModal3" class="reveal-modal" data-reveal>
              <%#= form_for @post do |f| %>
                  <div class="form_for">
                  <div class="small form" id="form_topic">
                  <%#= f.text_field :topic, placeholder: "String", class: "form-control" %>
                  </div>
                  <%#= f.submit %> <br/>
                  <%#= link_to 'Cancel', posts_path %>
                <#%end %>
                <a class="close-reveal-modal">&#215;</a>
              </div>
                </li> 
            <#% end %> -->

          <!-- <a href="#" data-reveal-id="myModal1">New String</a>
            <div id="myModal1" class="reveal-modal" data-reveal>
              <h3>String:</h3>
                 <form ng-submit="saveResource();" class="form-group">
                  <label for="topic">String:</label>
                     <input ng-model="newResource.topic" type="text" name="topic" class="form-control" placeholder="Topic">
                              
                       <br>
                        <input type="submit" value="Add New Resource!" class="btn btn-primary">
                        </form>
            </div> -->
            <a class="close-reveal-modal"></a>

       <!-- ******* -->
      <!-- <li class="has-dropdown">
        <a href="#">New String</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li> -->
      <!-- ***** -->
    </ul>   
  </section>
</nav>
</div>

<div id="player"></div>

<!-- <div id="user-widget">
  <%# if current_user %>
    Welcome <strong><%#= current_user.name %></strong>!
    <%#= link_to "Sign out", signout_path, id: "sign_out" %>
  <%# else %>
    <%#= link_to "Sign in with Soundcloud", "/auth/soundcloud", id: "sign_in" %>
  <%# end %>
</div>
 -->
<%= javascript_include_tag "application" %>
<div class='container'>
  <div class='row'>
    <%= yield %>
  </div>
</div>






</body>
</html>